.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dragon-avatar-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragon-avatar-image-pattern {
  position: absolute;
}

.dragon-avatar-image-background {
  position: absolute;
}

.dragon-avatar-image {
  z-index: 0;
}

.logout-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

.account-dragon-row-input {
  width: 75px;
  margin-right: 15px;
}
.account-dragon-row-checkbox {
  margin-left: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
